<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">  <h1>Task List</h1>
        <ul class="list-group">  {% for task in tasks %}
            <li class="list-group-item">  {{ task.title }} - {{ task.description }}
                {% if not task.completed %}
                <a href="{% url 'complete_task' task.id %}" class="btn btn-success btn-sm">Complete</a>  {% endif %}
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a>  </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>